# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
